on init
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw:/system/lib64/hw

on post-fs
    # Support A/B feature for EMMC boot region
    symlink /dev/block/mmcblk0boot0 /dev/block/platform/bootdevice/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/platform/bootdevice/by-name/preloader_b

    # Fix OF installer
    symlink /dev/block/platform/bootdevice /dev/block/bootdevice

    # Support A/B feature for combo emmc OTA update
    symlink /dev/block/platform/bootdevice/by-name/preloader_a /dev/block/platform/bootdevice/by-name/preloader_emmc_a
    symlink /dev/block/platform/bootdevice/by-name/preloader_b /dev/block/platform/bootdevice/by-name/preloader_emmc_b

    # Support A/B feature for combo emmc OTA update
    symlink /dev/block/platform/bootdevice/by-name/preloader_a /dev/block/by-name/preloader_emmc_a
    symlink /dev/block/platform/bootdevice/by-name/preloader_b /dev/block/by-name/preloader_emmc_b


on fs
    install_keyring

service keystore_auth /system/bin/keystore_auth
    oneshot
    user system
    group root
    disabled
    seclabel u:r:recovery:s0

service keystore /system/bin/keystore /tmp/misc/keystore
    user root
    group root drmrpc readproc log
    disabled
    seclabel u:r:recovery:s0

service keymaster-4-0 /system/bin/android.hardware.keymaster@4.1-unisoc.service
    user root
    group root drmrpc
    disabled
    oneshot
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /system/bin/android.hardware.gatekeeper@1.0-service.trusty
    user root
    group root
    disabled
    seclabel u:r:recovery:s0
    
on property:vendor.sys.listener.registered=true
    start keymaster-4-0
    start gatekeeper-1-0

on property:hwservicemanager.ready=true
    start keymaster-4-0
    start gatekeeper-1-0

on property:ro.crypto.state=unsupported
    stop keymaster-4-0
    stop gatekeeper-1-0

on property:ro.crypto.state=unencrypted
    stop keymaster-4-0
    stop gatekeeper-1-0

on property:twrp.decrypt.done=true
    stop keymaster-4-0
    stop gatekeeper-1-0

on boot
    start boot-hal-1-1
    start health-hal-2-1

